:root {
  --wb50: #0d131b;
  --wb100: #131c2a;
  --wb200: #1a2532;
  --wb300: #253141;
  --wb400: #3a445b;
  --wb500: #51586c;
  --wb600: #6d7389;
  --wb700: #7c8397;
  --wb800: #8f95a5;
  --wb900: #a8adb8;
  --wb950: #e0e2e6;

  --fg: #e0e2e6;

  --yellow500: #ffc829;
  --blue500: #3dc9e8;
  --green500: #38d45a;
  --orange500: #ffa62b;
  --red500: #f55a66;
  --pink500: #f55a84;
  --purple500: #b878ee;
  --darkblue500: #3a9ef7;

  --font-sans: "Plus Jakarta Sans", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --max-w: 1200px;
}
